.title {
    font-family: 'Lulo Clean', sans-serif;
    font-style: normal;
    font-weight: 400;

    text-transform: uppercase;

    &--medium {
        font-size: calc(0.5rem + 2vw);
    }

    &--large {
        font-size: calc(10rem + 3vw);
    }
}

.title__offset {
    display: block;
    margin-left: 15%;

    &--medium {
        @include minw($bp-mobile) {
            margin-left: 23%;
        }
    }
}
