.tile {
    position: relative;
}

.tile__fig {
    position: relative;
    width: 100%;

    &::before {
        content: '';

        display: block;
        padding-top: 136.36%;
    }
}

.tile__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition: opacity .3s;

    &.is-loaded {
        opacity: 0;
    }
}

.tile__content {
    position: absolute;
    bottom: 3.6rem;
    left: 0;
    width: 100%;

    font-size: 1.4rem;

    transition: color .3s;

    .tile:hover & {
        @include hover(false) {
            color: #fff;
        }
    }
}


.tile__title {
    margin-left: -10%;

    line-height: 1.2;

    white-space: nowrap;

    @include minw($bp-mobile) {
        margin-left: -45%;
    }
}

.tile__cta {
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin-top: 1.5rem;
    margin-left: 6.4%;

    line-height: 1.5;

    font-size: calc(0.3rem + 1.5vw);

    @include minw($bp-mobile) {
        margin-left: -11%;
        margin-bottom: 1.5rem;
        font-size: calc(1rem + 1.5vw);
    }
}
